body, html {
  height:100%;
  background-color:black;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Poiret One', sans-serif;
  color:white;  
}

body{
  overflow: hidden;
}

p{
  font-size: 1.5em;
}

nav{  
  position: fixed;
  top:0;
  
  /* image used */  
  background-image:url(../img/dice.jpg);

  /* full width */
  width: 100%;  
  
  /* create parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;   

}

#navbar a{
  color:white;
  text-decoration: none;
  font-size: 40px;
  padding-left:10%;
}



.landing-page{
  /* image used */  
  background-image:url(../img/dice.jpg);

  /* full height */
  height: 100vh;  
  
  /* create parallax scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;   

  /* create animation */
  animation-name: reveal;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; /* style is kept from last keyframe */
  animation-play-state: paused;

  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.43);
  padding: 0px 0px;
} 

@keyframes reveal{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* .section-1{
  height:20%;
}

.section-1 h1{
  
  
  position: absolute;
  bottom:0px;  
} */

.section-2{ 
  width:100%;  
}

.about{  
  background-image: url(../img/gun.jpg);
  height: 100vh;

  /* create parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* preloader & spin settings below*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  /*background: black url('//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif') no-repeat center center;*/
  background-color: black;  
  background-repeat:no-repeat;
  background-attachment: scroll;
  background-position: center;
}

#spin{
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border: 8px solid white; /* Light grey */
  border-top: 8px solid black; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;

}

@keyframes spin{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}